<link rel="stylesheet" href="/styles/button.css" />

<div class="container text-center mb-2">
  <div class="row">
    <div class="d-inline col">
      <a class="btn p-0 m-0" href="/homes?type=House">
        <img class="" src="resources/house.png" style="height: 5em" alt="" />
        <div style="color: grey">House</div>
      </a>
    </div>
    <div class="d-inline col">
      <a class="btn p-0 m-0" href="/homes?type=Apartment">
        <img
          class=""
          src="resources/Apartment.png"
          style="height: 5em"
          alt=""
        />
        <div style="color: grey">Apartment</div>
      </a>
    </div>
    <div class="d-inline col">
      <a class="btn p-0 m-0" href="/homes?type=Hotel">
        <img class="" src="resources/Hotel.png" style="height: 5em" alt="" />
        <div style="color: grey">Hotel</div>
      </a>
    </div>
    <div class="d-inline col">
      <a class="btn p-0 m-0" href="/homes?type=Guesthouse">
        <img class="" src="resources/bed.png" style="height: 5em" alt="" />
        <div style="color: grey">Guesthouse</div>
      </a>
    </div>
    <div class="d-inline col">
      <a class="btn p-0 m-0" href="/homes">
        <img class="" src="resources/houses.png" style="height: 5em" alt="" />
        <div style="color: grey">All</div>
      </a>
    </div>
  </nav>
  </div>
</div>
