body {
  height: 100vh;
  background: linear-gradient(#f6bd60, #669bbc);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.cover-container {
  max-width: 90vw;
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-link.active {
  color: white;
  border-bottom-color: white;
}

.btn-secondary,
.btn-secondary:hover {
  color: #333;
  text-shadow: none;
}

@media (max-width: 767px) {
  .float-md-left {
    visibility: hidden;
  }
  .nav-link {
    padding: 0;
  }
}

@media (max-width: 552px) {
  .col-1 {
    visibility: hidden;
    width: 0;
    height: 0;
    display: inline;
  }
  .col-5 {
    visibility: hidden;
    width: 0;
    height: 0;
    display: inline;
  }
  .col-6 {
    width: 100vw;
  }
}
